# virtualenv
.venv/
venv/

# python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# jupyter
.ipynb_checkpoints/

# data
data/

# model outputs
outputs/
models/**/downloads/
models/**/artifacts/

# downloaded model weights
downloads/

# env
.env

# system
.DS_Store

# PyCharm
.idea/
